header {
    font-size: 30px;
    margin-top: 30px;
    color: #2e99a9;
}

hr {
    border-width: 3px;
    border-color: #2e99a9;
    margin: 30px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}